header{
	color: #000000;
	background-color: #008B8B;
	padding-top: 1px;
}

h1{
	font-family: impact;
	text-align: center;
}

@media(max-width: 1366px){
	body{
		background-color: #00FA9A;
		width: 1100px;
		height: 900px;
	}
}

@media(max-width: 720px){
	img{
		width: 200px;
		height: 200px;
		background-color: #7B68EE;
	}
}