header{
	color: #000000;
	background-color: #008B8B;
	padding-top: 1px;
}

h1{
	font-family: impact;
	text-align: center;
}

img{
	float: right;
}

@media(min-width: 1367px and min-height: 768px){
	body{
		background-color: #7B68EE;
	}
}

@media(min-width: 720px and min-height: 1520px)