<!DOCTYPE html> 
<html lang="es">
  <head>
    <title>Practica Layout</title>;
    <link rel="stylesheet" type="text/css" href="css/estilos.css">
      <meta charset="utf-8">
  </head>
  <body>
    <header>
      <h2>subtitulo de la pagina</h2>
      <h1>Titulo de la pagina</h1>
    </header>
    <section id="seccion1">
      <ul>
        <li id="e1">enlace1</li>
        <li id="e2">enlace2</li>
        <li id="e3">enlace3</li>
        <li id="e4">enlace4</li>
      </ul>
    </section>
    <section id="seccion2">
      <div id="derecha1">
        <strong class="texto">ARRIBA DERECHA sit amet,</strong> <br> consectetur adipisicing elit, sed do <br> eiusmod
        tempor incididunt ut <br> labore et dolore magna aliqua. Ut  <br> enim ad minim veniam,
        quis  <br> nostrud exercitation ullamco <br> laboris nisi ut aliquip ex ea <br> commodo
        consequat. Duis aute <br> irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div id="izquierda1">
        <strong class="texto">ARRIBA IZQUIERDAr sit amet,</strong> <br> consectetur adipisicing elit, sed do <br> eiusmod
        tempor incididunt ut <br> labore et dolore magna aliqua. Ut  <br> enim ad minim veniam,
        quis  <br> nostrud exercitation ullamco <br> laboris nisi ut aliquip ex ea <br> commodo
        consequat. Duis aute <br> irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div id="derecha2">
        <strong class="texto">ABAJO DERECHA amet,</strong> <br> consectetur adipisicing elit, sed do <br> eiusmod
        tempor incididunt ut <br> labore et dolore magna aliqua. Ut  <br> enim ad minim veniam,
        quis  <br> nostrud exercitation ullamco <br> laboris nisi ut aliquip ex ea <br> commodo
        consequat. Duis aute <br> irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div id="izquierda2">
        <strong class="texto">ABAJO IZQUIERDA sit amet,</strong> <br> consectetur adipisicing elit, sed do <br> eiusmod
        tempor incididunt ut <br> labore et dolore magna aliqua. Ut  <br> enim ad minim veniam,
        quis  <br> nostrud exercitation ullamco <br> laboris nisi ut aliquip ex ea <br> commodo
        consequat. Duis aute <br> irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </section>
  </body>
</html>
